@model Bangazon_Workforce.Models.ViewModels.DeleteComputerViewModel

@{
    ViewData["Title"] = "Delete";
}
<br/>
<h1>Confirm Delete</h1>
<br/>
<div>
    <h4>Computer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
    </dl>

    <dl>
        <dd>
            @if (Model.Employee.Id != 0)
            {
                <p>This computer can't be deleted because it is assigned to @Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.LastName)</p>
            }
            else
            {
                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-secondary" />
                </form>
            }
        </dd>
    </dl>

    <a class="btn btn-link" asp-action="Index">Back to List</a>
</div>
