@model IEnumerable<Bangazon_Workforce.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}
    <br />
<h1>Employees</h1>

<p>
    <a class="btn btn-link" asp-action="Create">Create New</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { id = item.Id }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id }, new { @class = "btn btn-link" })
            </td>
        </tr>
}
    </tbody>
</table>
